.about-us{
  margin-bottom: 35px;

  p {
    margin-bottom: 8px;
  }

  &__title{
    margin-bottom: 23px!important;
    font-size: 20px!important;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

}

@media (min-width: $tablet-portrait) {

  .about-us {
    margin-bottom: 104px;
  }

}