.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 195px;
  border: none;
  border-radius: 5px;
  background-color: $btn-back;
  color: $btn-color;
  font-size: 14px;
  @include oneEvent(background-color);

  &:hover {
    background-color: $btn-back-hover;
  }

  &:active {
    background-color: $btn-back-active;
  }

  &_1 {
    width: 120px;
    height: 54px;
    font-size: 11px;
    font-weight: 500;

    span:before{
      display: block;
      vertical-align: middle;
      width: 26px;
      height: 26px;
      margin: 0 auto 5px;
      background: url('../img/icons-header.png') no-repeat 0 0;
      content: '';
    }

  }

  &_2 {
    width: 120px;
    height: 54px;
    background: $btn-2-back;
    font-size: 11px;
    font-weight: 500;

    span:before{
      display: block;
      vertical-align: middle;
      width: 26px;
      height: 26px;
      margin: 0 auto 5px;
      background: url('../img/icons-header.png') no-repeat 0 -43px;
      content: '';
    }

    &:hover {
      background: $btn-2-back-hover;
    }

    &:active {
      background: $btn-2-back-active;
    }
  }

}

@media (min-width: $desktop) {

  .btn {

    &_1 {
      width: 210px;

      span:before{
        display: inline-block;
        margin-right: 6px;
        font-size: 13px;
      }

    }

    &_2 {
      width: 210px;

      span:before{
        display: inline-block;
        margin-right: 6px;
        font-size: 13px;
      }

    }

  }

}