/*---------- site ----------*/
$site-back: #f2f2f2;
$footer-back: #4d4d4d;
/*---------- /site ---------*/

/*---------- menu ----------*/
$menu-color: #000;
$menu-color-hover: #8ac842;
/*---------- /menu ---------*/

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #88ca36;
$btn-back-hover: #98d150;
$btn-back-active: #98d150;
$btn-color: #fff;

$btn-2-back: #ff6242;
$btn-2-back-hover: #ff7b60;
$btn-2-back-active: #ff7b60;
/*---------- /btn ---------*/

/*---------- text-wrap a ---------*/
$text-wrap-a:#008fc7;
$text-wrap-a-hover:#88ca36;
/*---------- /text-wrap a ---------*/

/*---------- promo ----------*/
$promo-back: #008fc7;
/*---------- /popup ---------*/