.last-news{
  margin-bottom: 31px;

  &__title{
    margin-bottom: 38px;
  }

  &__item{
    position: relative;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
  }

  &__data{
    display: block;
    margin-bottom: 10px;
    color: #999;
  }

  &__topic{
    margin-bottom: 7px;
    color: #008fc7;
    font-weight: 300;

    a{
      color: inherit;
      @include oneEvent(color);

      &:hover{
        color: #89ca36;
        text-decoration: underline;
      }

    }

  }

}

@media (min-width: $tablet-portrait) {

  .last-news{

    &__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    &__wrap{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      margin-left: -28px;
    }

    &__item{
      width: 45%;
      margin-left: 27px;
    }

  }

}

@media (min-width: $desktop) {

  .last-news{

    &__item{
      width: 220px;
    }

  }

}