.main-service{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  margin: 0 auto;
}

@media (min-width: $tablet-portrait) {

  .main-service{
    position: absolute;
    top: 35px;
    right: 15px;
  }

}

@media (min-width: $desktop) {

  .main-service{
    width: 430px;
  }

}
