.site {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  @include  main-font1;
  background-color: $site-back;
  overflow: hidden;

  &__header{

    &-layout{
      position: relative;
      max-width: 960px;
      height: inherit;
      margin: 0 auto;
      padding: 15px;
    }

  }

  &__centered{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title{
    margin-bottom: 10px;
    font-size: 20px!important;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__more-link{
    color: #008fc7;
    letter-spacing: -1.2px;
    text-decoration: underline;
    white-space: nowrap;

    &:after{
      display: inline-block;
      vertical-align: middle;
      width: 3px;
      height: 3px;
      margin-left: 5px;
      border-color: #008fc7;
      border-width: 1px;
      border-bottom-style: solid;
      border-right-style: solid;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      content: '';
      @include oneEvent(transform);
    }

    &:hover{
      text-decoration: none;
    }

  }

  &__aside{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: left;
  }

  &__content{
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 15px 50px;
    text-align: justify;

    &>div{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      text-align: left;
    }

    &:after{
      display: inline-block;
      width: 100%;
      content: "";
    }
  }

  &__footer{
    background-color: $footer-back;

    &-layout{
      position: relative;
      max-width: 960px;
      margin: 0 auto;
      padding: 15px;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .site {

    &__title {
      margin-bottom: 0;
    }

  }

}

@media (min-width: $tablet-landscape) {

  .site {

    &__content{
      padding: 16px 0 152px;
    }

    &__content>div{
      width: 713px;
    }

    &__content>div p{
      padding-right:30px;
    }

    &__aside{
      width: 220px;
    }

  }

}

@media (min-width: $desktop) {

  .site {

    &:after{
      display: block;
      height: 110px;
      content: '';
    }

    &__header{
      height: 174px;

      &-layout{
        padding: 0;
      }

    }

    &__centered{
      padding: 0;
    }

    &__footer{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 110px;

      &-layout{
        padding: 0;
      }

    }

  }

}

